
.root
  height 100%
  flex-direction column

.logo
  width 100%
  justify-content center
  margin-top 2u

.menu
  flex-direction column
  align-items center
  width 100%
  margin-top 6u

.mi
  padding 0
  margin-top 4u
  border 3px solid $color-green2
  background-color $color-bg-button2
  border-radius 14px
  padding 2u

.m
  text-transform uppercase
  color $color-green2
  font-size 22px
  text-decoration none
