.root
  height 14u
  width 100%
  align-items center
  margin-left 3u
  +desktop()
    height 18u
    margin-left 0

.text
  font-size 30px
  line-height @font-size
  font-weight 300
  color $color-green
  text-transform uppercase
  letter-spacing 16px