.root
  width 100%
  padding 4u 3u
  background-color $color-bg-form2

.textarea
  margin-top 2u
  opacity 0.8

.message
  opacity 0.8

.author
  color $color-red

.button
  width 14u
  border 1px solid $color-black
  border-radius 0