.root
  width 100%
  display flex
  flex-direction column
  padding 0 1u

.game
  padding 1u

.types
  display flex
  flex-direction row
  margin-top 1u

.type, .capitulate
  width 5u
  height 5u

.capitulate
  margin-left 2u

.gameInfo
  margin-top 1u
  width 400px
  border-top 1px solid $color-gray
  border-right 1px solid $color-gray

.row
  display grid
  grid-template-columns 1fr 1fr
  border-bottom 1px solid $color-gray

.cell, .headcell
  padding 1u
  border-left 1px solid $color-gray

.headcell
  font-weight bold

.result
  margin-top 1u
  font-size 20px
  font-weight bold

.win
  color $color-green
.lose
  color $color-red
.draw
  color $color-grey

.gameStatus
  font-size 20px
  font-weight bold

.warning
  color $color-red