.root
  width 100%
  display flex
  flex-direction column
  padding 0 1u

.row3
  display grid
  grid-template-columns 1fr 1fr
  border-bottom 1px solid $color-gray
  grid-template-columns 1fr 1fr 1fr

.cell, .headcell
  padding 1u
  border-left 1px solid $color-gray

.headcell
  font-weight bold